body{
    background:rgb(112, 169, 255);
    text-align: center;
    padding-bottom:100px;
}
.days,.other-days{
    height:60px;
    width:200px;
    margin:20px;
    margin-top:50px;
    border-width: 2px;
    border-radius:0%;
    background-color: #fff;
    border-color:#000000;
}

h2,.days,.other-days{
    font-family:"Kalam", cursive;
    font-weight:700;
    color:rgb(0, 19, 101);
}
h2{
    font-size:50px;
    color:white;
    font-size:30px;
}

.schedule{
    width:100%;
    max-width: 700px;
}
.logo{
    width:100%;
    max-width: 300px;
}
.days,.other-days{
    color: #000000;
    border: 2px solid rgb(0, 19, 101);
    border-radius: 0px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    vertical-align:center;
}
.days:hover {
    box-shadow: inset 0 100px 0 0 rgb(0, 19, 101);
    border-color:white;
    color:white;
  }
.other-days:hover{
    box-shadow: inset 0 100px 0 0 rgb(255, 208, 0);
    border-color:white;
    color:white;
}
#clock{
    color:white;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 2px;  
}
.color{
    margin-top:10%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius:0%;
    font-family:"Kalam", cursive;
    width: 200px;
    background:rgb(0, 19, 101);
    color:white;
    border-color:white;
}
.color:hover {
    box-shadow: inset 0 100px 0 0 rgb(255, 208, 0);
    border-color:rgb(0, 19, 101);
    color:rgb(0, 19, 101);
}
nav{
    background:rgb(0, 19, 101);
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    margin-top:20%;
    height:50px;
}
.nav-btn{
    height:30px;
    margin:10px;
    font-size:7px;
    background:rgb(0, 19, 101);
    border-color:white;
    color:white;
}
